<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude" packages="helpers" status="WARN">
    <Appenders>
<!--        <Reporter name="Reporter">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
<!--        </Reporter>-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
<!--            <AppenderRef ref="Reporter"/>-->
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>